<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#update_learn').submit(function(event) {

            /* prevent form from submitting normally */
            event.preventDefault()

            /* get the action attribute from the <form action=""> element */
            var $form = $( this ),
                url = $form.attr( 'action' );
			
            /* send the post request */
            $.post( 'updateLearn', $('form').serializeArray());
        });

        $.getJSON('languagesToLearn', function(data, status) {
            $('#languagesToLearn .list li').remove();

            $.each(data, function(key, val) {
                $('#languagesToLearn .list').append('<li>' + val + '</li>')
            });
        });

		$.get('matches', function(data, status) {
			$('#matches').text(data);
		});
	});
</script>

<p>Welcome, {{ user.name }}!</p>
<p>Hometown: {{ user.hometown }}</p>
<p>Location: {{ user.location }}</p>

{% for message in get_flashed_messages() %}
<div class="flash">
{{ message }}
</div>
{% endfor %}

<div>
<h2>Languages I know:</h2>
<ul>
{% for language in all_languages %}
<li>{{ language.name }}</li>
{% endfor %}
</ul>
</div>

<div>
<form action="{{ url_for('update_learn') }}" method="post">
<h2>Languages I want to learn:</h2>
<div id="languagesToLearn">
    <ul class="list">
        
    </ul>
</div>

{% for language in all_languages %}
<input type="checkbox" value={{ language.id }} name="learnLanguages">{{ language.name }}<br>
{% endfor %}
<input type="submit" value="Update" id="update_learn">
</form>
</div>

<h2>Matches</h2>
<div id='matches'>
No matches found.
</div>
