<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://getuikit.com/assets/uikit/dist/css/uikit.css?nc=1551" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://getuikit.com/assets/uikit/dist/js/uikit.js?nc=1551"></script>
<script>
    function get_profile_url(facebook_id) {
        return 'https://facebook.com/' + facebook_id
    }

    $(window).ready(function() {
        $('#update_learn').submit(function(event) {

            /* prevent form from submitting normally */
            event.preventDefault()

            /* get the action attribute from the <form action=""> element */
            var $form = $( this ),
                url = $form.attr( 'action' );
			
            /* send the post request */
            $.post( 'updateLearn', $('form').serializeArray());
        });

        $.getJSON('languagesToLearn', function(data, status) {
            $('#languagesToLearn .list li').remove();

            $.each(data, function(key, val) {
                $('#languagesToLearn .list').append('<li>' + val + '</li>')
            });
        });

        $.getJSON('matches', function(data, status) {
            $('#matches div').remove();

            $.each(data, function(key, val) {
                var cardHTML = '<div><div class="uk-card uk-card-body uk-card-default">' +
                '<h3 class="uk-card-title">' + val['name'] + '</h3><p>Score: ' + val['score'] + '</p>'
                + '<h4>Knows</h4><ul>';
                $.each(val['languages'], function(index, language) {
                    cardHTML = cardHTML + '<li>' + language + '</li>'
                });
                if (val['languages'] == 0) cardHTML += '<i>None</i>';
                cardHTML = cardHTML + '</ul><h4>Learning</h4><ul>';
                $.each(val['learningLanguages'], function(index, language) {
                    cardHTML = cardHTML + '<li>' + language + '</li>'
                });
                if (val['learningLanguages'] == 0) cardHTML += '<i>None</i>';
                cardHTML = cardHTML + '</ul><a href="' + get_profile_url(val['facebook_id']) + '"><p>View Profile</a></p></div></div>';
                $('#matches').append(cardHTML);
            });
        });
	});
</script>
<title>Parlons</title>

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Parlons</a>
    </div>
    <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="{{ url_for('logout') }}">Signout</a></li>
    </ul>
    </div>
</nav>
<div class="uk-container" style="padding: 40px">

<p>Welcome, {{ user.name }}!</p>
<p>Hometown: {{ user.hometown }}<br>Location: {{ user.location }}</p>

{% for message in get_flashed_messages() %}
<div class="flash">
{{ message }}
</div>
{% endfor %}

<div class="uk-grid uk-grid-match" uk-grid>
<div class="uk-width-1-3@s">
    <div class="uk-card uk-card-body uk-card-default">
    <h2 class="uk-card-title">Languages I know</h2>
    <ul>
    {% for language in my_languages %}
    <li>{{ language.name }}</li>
    {% endfor %}
    </ul>

    <form action="{{ url_for('update_learn') }}" method="post">
    <h2 class="uk-card-title">Languages I want to learn</h2>
    <div id="languagesToLearn">
        <ul class="list">
            
        </ul>
    </div>

    {% for language in all_languages %}
    <input class="uk-checkbox" type="checkbox" value={{ language.id }} name="learnLanguages">{{ language.name }}<br>
    {% endfor %}
    <input type="submit" value="Update" id="update_learn">
    </form>
    </div>
</div>

<div class="uk-width-2-3@s">
    <div id="matches" class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
        
    </div>
</div>
</div>

</div>
